<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/pirates">
  <p> Team Name: <input type="text" id="team[name]" name="pirate[name]"></p> 
  <p> Team Motto: <input type="text" id="team[motto]" name="pirate[name]"></p>
  
  <h1> Hero 1</h1>


  <p> Hero's Name:<input type="text" id="pirate[name]" name="pirate[name]"></p>
  <p> Hero's Power:<input type="text" id="pirate[name]" name="pirate[name]"></p>
  <p> Hero's Biography:<input type="text" id="pirate[name]" name="pirate[name]"></p>

<h1> Hero 2</h1>


  <p> Hero's Name:<input type="text" id="team[team][name]" name="pirate[name]"></p>
  <p> Hero's Power:<input type="text" id="pirate[name]" name="pirate[name]"></p>
  <p> Hero's Biography:<input type="text" id="pirate[name]" name="pirate[name]"></p>
  <input type="text" id="ship_name_2" name="pirate[ships][][name]">
  <input type="text" id="ship_type_2" name="pirate[ships][][type]">


  <input type="submit" value="Submit">
</form>
